html {
	background: radial-gradient(#77773c,  #666644, #55552b);
}

@media screen and (orientation: portrait) {
	#calculator {
		display: none;
	}
	html {
		background-color: black;
		background-image: url(../res/rotate-device.png);
		background-repeat: no-repeat; 
		background-position: center center; 
		background-size: contain; 
		background-attachment: fixed;
	}
}


@media screen and (orientation: landscape) {
#calculator {
	border: 2px dashed #666644;
	border-radius: 5px;
	width: 850px;
	height: 400px;
	background: radial-gradient(#77773c,  #666644, #55552b);
	font-size: 20pt;
}
#area, #part, #article {
	background: #f0f0f0;
	border-radius: 3px;
	font-size: 16pt;
}
#part, #article {
	font-size: 20pt;
}

#calculator td {
	width: 85px;
}
button {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	background: radial-gradient(rgba(0, 80, 0, 0.1), rgba(0, 80, 0, 0.4), rgba(0, 80, 0, 0.6));
	font-size: 20pt;
}
#label-names {
	height: 30px;
	font-size: 12pt;
	text-align: center;
}

#crimes-count {
	text-align: center;
	font-size: 24pt;
}
}
/*
@media screen and (min-width: 300px) and (max-width: 600px) {
button {
	font-size: 14pt;
	width: 99%;
	padding: 4% 0;
	margin: 2% 0;
	border-radius: 7px;
}
}*/