html {
	background-color: rgba(0, 80, 0, 0.7);
	text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 750px) {
button {
	font-size: 14pt;
	width: 99%;
	padding: 4% 0;
	margin: 2% 0;
	border-radius: 7px;
}
}

@media screen and (min-width: 751px) and (max-width: 1536px) {
button {
	font-size: 12pt;
	width: 50%;
	padding: 2% 0;
	margin: 1% 0;
	border-radius: 10px;
}
}

@media screen and (min-width: 1537px) {
button {
	font-size: 12pt;
	width: 25%;
	padding: 1% 0;
	margin: 10px 0;
	border-radius: 10px;
}
}


