@media only screen and (max-width: 1340px) {
	body{font-size: .9em;}
}

body{
	background : white;
	margin: 0;
}

.tab-container{
	background : forestgreen;
	margin: 0;
	padding: 0;
	max-height: 35px;
}

ul.tabs{
	margin: 0;
	font : .8em sans-serif;
	list-style-type : none;
	line-height : 35px;
	max-height: 35px;
	overflow: hidden;
	display: inline-block;
	padding-right: 25px
}

ul.tabs > li.active{
	z-index: 2;
	background: white;
	margin : 4px -7px 0;
}
ul.tabs > li:hover{
	z-index: 3;
	margin : 4px -7px 0;
}

/*ul.tabs > li.active:before{*/
	/*border-color : transparent white transparent transparent;*/
/*}*/


/*ul.tabs > li.active:after{*/
	/*border-color : transparent transparent transparent white;*/
/*}*/

ul.tabs > li{
	float : right;
	margin : 6px -7px 0;
	border-top-right-radius: 35px 70px;
	/*border-top-left-radius: 20px 90px;*/
	padding : 0 20px 0 12px;
	height: 50px;
	background: #ddd;
	position : relative;
	box-shadow: 0 15px 20px 12px rgba(0,0,0,.5);
	max-width : 200px;
	transition: .1s;
}

ul.tabs > li > a{
	display: inline-block;
	max-width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #222;
}
/*ul.tabs > li:after{*/
	/*content : '';*/
	/*background : transparent;*/
	/*height: 15px;*/
	/*width: 15px;*/
	/*border-radius: 100%;*/
	/*border-width: 10px;*/
	/*top: 4px;*/
	/*border-style : solid;*/
	/*position : absolute;*/
/*}*/

/*ul.tabs > li:before{*/
	/*border-color : transparent #ddd transparent transparent;*/
	/*-webkit-transform : rotate(48deg);*/
	/*left: -23px;*/
/*}*/

/*ul.tabs > li:after{*/
	/*border-color : transparent transparent transparent #ddd;*/
	/*-webkit-transform : rotate(-48deg);*/
	/*right: -11px;*/
/*}*/

/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



#floatingCirclesG{
	position:absolute;
	width:130px;
	height:130px;
	top: 20%;
	left: 45%;
	margin:auto;
	transform:scale(0.6);
	-o-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	z-index: 20;
	/*display: none;*/
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:26px;
	width:26px;
	border-radius:14px;
	-o-border-radius:14px;
	-webkit-border-radius:14px;
	animation-name:f_fadeG;
	-o-animation-name:f_fadeG;
	-webkit-animation-name:f_fadeG;
	animation-duration:0.522s;
	-o-animation-duration:0.522s;
	-webkit-animation-duration:0.522s;
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	animation-direction:normal;
	-o-animation-direction:normal;
	-webkit-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:59px;
	animation-delay:0.1995s;
	-o-animation-delay:0.1995s;
	-webkit-animation-delay:0.1995s;
}

#frotateG_02{
	left:17px;
	top:17px;
	animation-delay:0.256s;
	-o-animation-delay:0.256s;
	-webkit-animation-delay:0.256s;
}

#frotateG_03{
	left:59px;
	top:0;
	animation-delay:0.3225s;
	-o-animation-delay:0.3225s;
	-webkit-animation-delay:0.3225s;
}

#frotateG_04{
	right:17px;
	top:17px;
	animation-delay:0.389s;
	-o-animation-delay:0.389s;
	-webkit-animation-delay:0.389s;
}

#frotateG_05{
	right:0;
	top:59px;
	animation-delay:0.4555s;
	-o-animation-delay:0.4555s;
	-webkit-animation-delay:0.4555s;
}

#frotateG_06{
	right:17px;
	bottom:17px;
	animation-delay:0.522s;
	-o-animation-delay:0.522s;
	-webkit-animation-delay:0.522s;
}

#frotateG_07{
	left:59px;
	bottom:0;
	animation-delay:0.5885s;
	-o-animation-delay:0.5885s;
	-webkit-animation-delay:0.5885s;
}

#frotateG_08{
	left:17px;
	bottom:17px;
	animation-delay:0.645s;
	-o-animation-delay:0.645s;
	-webkit-animation-delay:0.645s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgba(40,125,50,0.39);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgba(40,125,50,0.39);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgba(40,125,50,0.39);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}