html {
background-color: white;
}
.main-table {
	width: 70%;
	min-width: 800px;
	max-width: 1000px;
	border-collapse: collapse;
	box-shadow: 0 0 10px #006400;
	/*border-radius: 10px;*/
}
tr:hover td:nth-child(1) {
	box-shadow: inset 0 0 1em rgba(10, 150, 10, 0.5);
	border-radius: 2px;
	
}
.main-table tr th {
	box-shadow: inset 0 0 1em rgba(0, 100, 0, 0.5);
}
.main-table tr td {
	padding: 15px 5px;
	/*border: 1px solid #006400;*/
}
.main-table tr td input {
	width: 50%;
	font-size: 100%;
	text-align: center;
	outline-color: rgb(0, 100, 0);
}
.no-border:hover td:nth-child(1){
	box-shadow: 0 0 1em rgba(200, 250, 200, 0.1);

}
.main-table tr td select{
	width: 100%;
	min-height: 24px;
	font-size: 80%;
	outline-color: rgb(0, 100, 0);
}
.main-table tr td:nth-child(1) {
	text-align: left;
	width: 70%;
}
.main-table tr td:nth-child(2) {
	width: 15%;
}
.main-table tr td:last-child {
	width: 15%;
}
.date-time {
	width: 95% !important;
}
.widter input {
	width: 90% !important;
}

/*main-table tr td:nth-child(1) {
	width: 10px;
	min-width: 10px;
	max-width: 10px;
	border-left: 7px solid #006400;
}
.main-table tr td:nth-child(4) {
	width: 10px;
	min-width: 10px;
	max-width: 10px;
	border-right: 7px solid #006400;
}*/


.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 2px;
   	width: 50%;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.4s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 100%; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ТАК";
    padding-left: 20px;
    background-color: #6D8F76; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "НІ";
    padding-right: 25px;
    background-color: #F5F5FF; color: #827878;
    text-align: right;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    right: 0px; 
}



















.main-table select {
	width: 100%;
	border-radius: 1px;
	border-color: #376346;
}



.border-top>td:first-child, .border-top>td:last-child{
	border-top: 7px solid #006400;
	border-spacing: 5px;
}
.border-bottom>td:first-child, .border-bottom>td:last-child{
	border-bottom: 7px solid #006400;
}


#calculator {
	margin-top: 80px;
	border: 5px ridge #55552b;
	border-radius: 5px;
	width: 600px;
	height: 300px;
	background: radial-gradient(#aaaa55, #77773c, #888844);
}
#area {
	width: 100%;
	height: 100%;
	resize: none;
}
#area, #part, #article {
	background: #e0ebeb;
	border-radius: 1px;
	font-size: 12px;
}
#part, #article {
	width: 60%;
	font-size: 17px;
}

#calculator td {
	width: 50px;
}
button {
	width: 80px;
	height: 35px;
	border-radius: 1px;
	margin-left: 30%;
	background: radial-gradient(#ecf9f2, #d9f2e6, #ecf9f2);
}
#label-names {
	height: 30px;
	font-size: 9pt;
	text-align: center;
}

#crimes-count {
	text-align: center;
	font-size: 18pt;
}
